body, html {
    margin: 0;
    padding: 0; 
    font-family: Arial, sans-serif;
    color: rgb(250, 253, 255);
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

header {
    background: repeating-linear-gradient(
        45deg,
        #6e7575, /* Color 1 */
        #000000 50px,
        #333333 50px,
        #4e8fad 20px /* Color 2 */
      );
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 50px;
    flex: 1;
}

nav {
    background-color: black;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    font-weight: bold;
    border-bottom: 3px solid rgb(64, 192, 214);
}

form {
    margin: 20px;
  }
  
  input, textarea {
    display: block;
    margin: 15px 0;
  }
  

  .about-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
  }
  
  .profile-pic {
    width: 210px; 
    height: 280px;
    margin-right: 20px; 
    margin-top: 40px;
  }
  
  .bio {
    flex-grow: 1;
    color: white; 
    font-size: 20px;
  }
  
  .bio p {
    margin: 5px; 
  }
  