footer {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 25px;
  }

  #root {
    flex: 1
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    margin: 0 10px;
    color: rgb(102, 146, 223);
    text-decoration: none;
  }