.resume-container {
    display: flex;
    justify-content: space-around;
    margin: 25px;
  }
  
  .column {
    text-align: center;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column li {
    margin: 10px 0;
  }
  
  